:root{
  --background-color: #10141D;
  --text-color-primary: #afb6c2;
  --text-color-secondary: #656D78;
}

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Urbanist', sans-serif;
}

html{
  scroll-behavior: smooth;
  background-color: var(--background-color);
}

body{
  color: var(--text-color-secondary);
  overflow: overlay;
}

ul,li{
  list-style: none;
}

input:focus{
  outline: none;
}

::-webkit-scrollbar{
  width: 3px;
}

::-webkit-scrollbar-track{
  background-color: transparent;
}

::-webkit-scrollbar-button{
  height: 5px;
  background-color: var(--background-color);
}

::-webkit-scrollbar-thumb{
  height: 30px;
  border-radius: 50px;
  background-color: var(--text-color-secondary);
}

::-webkit-scrollbar-thumb:hover{
  background-color: var(--text-color-primary);
}

.music-player{
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media (max-width: 767px){
  .music-player{
    gap: 0px;
  }
}

.container{
  display: flex;
  position: relative;
}

@media (min-height: 600px){
  .container{
  height: 87vh;
  }
}

/* Start sidebar */

.sidebar{
  padding: 5px 20px;
  color: var(--text-color-secondary);
  font-size: 14px;
  position: relative;
}

@media (max-width: 991px){
  .sidebar{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
    font-size: 0;
    padding: 5px 2px;
  }
}

@media (max-width: 400px){
  .sidebar{
    padding: 5px;
  }
}

.sidebar i{
  font-size: 14px;
  margin-right: 15px;
}

@media (max-width: 991px){
  .sidebar i{
    font-size: 20px;
    position: relative;
    left: 8px;
  }
}

.sidebar i:first-of-type{
  position: relative;
  top: 0.5px;
}

.sidebar .logo{
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  margin-bottom: 20px;
}

@media (max-width: 991px){
  .sidebar .logo{
    width: 35px;
    margin-top: 20px;
    left: 0;
    transform: translateX(0);
  }
}

.sidebar .angle{
  margin-left: 4px;
  translate: 0 2.5px;
}

@media (max-width: 991px){
  .sidebar .angle{
    display: none;
  }
}

.sidebar .home,
.sidebar .browse,
.sidebar .library,
.sidebar .playlists,
.sidebar .archive{
  margin-bottom: 12px;
  transition: .2s;
}

.sidebar .library,
.sidebar .playlists,
.sidebar .archive{
  display: flex;
  align-items: center;
  font-size: 13px;
}

.sidebar .playlists{
  margin-bottom: 17px;
}

@media (max-width: 991px){
  .sidebar .library,
  .sidebar .playlists,
  .sidebar .archive{
    font-size: 0;
  }
}

.sidebar .menu{
  margin-bottom: 10px;
  overflow-y: auto;
  height: 70px;
}

@media (max-width: 991px){
  .sidebar .menu{
    display: none;
  }
}

.sidebar .menu ul{
  margin-bottom: 12px;
}

.sidebar .menu li{
  color: var(--text-color-primary);
  margin-bottom: 8px;
  margin-left: 3px;
  margin-right: 90px;
  font-size: 13px;
}

.sidebar .menu li.active{
  color: white;
}

.sidebar a{
  display: block;
  margin-bottom: 12px;
  font-size: 13px;
}

@media (max-width: 991px){
  .sidebar a{
    font-size: 0;
  }
}

/* End sidebar */


/* Start player */

.player{
  flex: 1;
  background-image: url(../images/playlist-pic.jpg);
  background-size: 100% 50vh;
  background-repeat: no-repeat;
  position: relative;
  width: 220px;
}

@media (max-width: 767px){
  .player{
    background-size: 100% 270px;
  }
}

.player::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(12px);
}

.player .content{
  position: relative;
}

.player header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 25px 18px 0;
}

.player header .search{
  position: relative;
  display: flex;
  align-items: center;
}

.player header .search input[type="text"]{
  background-color: transparent;
  border: 1px solid var(--text-color-secondary);
  border-radius: 50px;
  width: 145px;
  height: 30px;
  padding-left: 15px;
  transition: .3s;
  caret-color: var(--text-color-secondary);
  color: var(--text-color-secondary);
  font-size: 13px;
}

.player header .search input[type="text"]:focus{
  width: 170px;
}

.player header .search input[type="text"]::placeholder{
  transition: .3s;
}

.player header .search input[type="text"]:focus::placeholder{
  color: transparent;
}

.player header .search i{
  position: absolute;
  font: var(--fa-font-solid);
  content: "\f002";
  color: var(--text-color-secondary);
  font-size: 13px;
  left: 120px;
  transition: .3s;
}

.player header .search input[type="text"]:focus ~ i{
  left: 145px;
}

.player header .profile{
  display: flex;
  align-items: center;
}

.player header .profile i{
  color: var(--text-color-secondary);
  margin-right: 5px;
  cursor: pointer;
  transition: .2s;
}

.player header .profile i:hover{
  color: var(--text-color-primary);
}

.player header .profile img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.player .playlist{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding: 0 15px;
}

.player .playlist .info{
  margin-left: 25px;
  font-size: 13px;
}

.player .playlist .info i{
  margin-left: 5px;
  transform: translateY(1px);
  cursor: pointer;
}

.player .playlist .info > span{
  flex: 1;
  font-size: 11px;
  display: block;
  margin-bottom: 70px;
}

.player .playlist .info h1{
  color: white;
  margin: 0;
  margin-left: -2px;
  margin-bottom: 10px;
  font-size: 45px;
}

@media (max-width: 767px){
  .player .playlist .info h1{
    font-size: 35px;
  }
}

@media (max-width: 400px){
  .player .playlist .info h1{
    font-size: 25px;
  }
}

.player .playlist .info span:nth-of-type(2){
  color: white;
}

.player .playlist img{
  width: 160px;
  height: 160px;
  border-radius: 10px;
}

@media (max-width: 767px){
  .player .playlist img{
    width: 120px;
    height: 120px;
  }
}

.player .songs{
  padding: 0 10px;
}

.player .songs .categories li{
  font-size: 14px;
  color: var(--text-color-secondary);
  margin-bottom: 5px;
  position: relative;
}

@media (max-width: 767px){
  .player .songs .categories li{
    font-size: 12px;
  }
}

.player .songs .list{
  overflow-y: auto;
  height: 25vh;
}

@media (max-width: 768px){
  .player .songs .list{
    height: 45vh;
  }
}

@media (max-width: 1024px){
  .player .songs .list{
    height: 35vh;
  }
}

.player .songs .list li.active{
  color: white;
}

.player .songs .list li:hover{
  background-color: #1f2531;
}

.player .songs li{
  display: flex;
  color: var(--text-color-primary);
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  transition: .2s;
}

@media (max-width: 767px){
  .player .songs li{
    font-size: 12px;
  }
}

.player .songs span{
  width: 100px;
  padding: 10px;
  overflow-x: hidden;
}

.player .songs span.added{
  width: 120px;
}

@media (max-width: 767px){
  .player .songs span.added{
    width: 90px;
  }
}

@media (max-width: 400px){
  .player .songs span.added{
    width: 70px;
  }
}

.player .songs span:not(:last-of-type,.added){
  flex: 1;
}

.player .songs span.duration{
  text-align: right;
  margin-right: 20px;
}

@media (max-width: 767px){
  .player .songs span.duration{
    display: none;
  }
}

/* End player */

/* Start control */

.control{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 25px;
  font-size: 14px;
  position: relative;
}

@media (max-width: 767px){
  .control{
    padding: 0 15px;
    font-size: 12px;
  }
}

.control i{
  cursor: pointer;
  transition: .2s;
}

.control i:hover{
  color: var(--text-color-primary);
}

.control .song-pic{
  width: 180px;
  height: 155px;
  position: absolute;
  left: 25px;
  top: -170px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.678) 0px 5px 15px;
}

@media (max-width: 991px){
  .control .song-pic{
    display: none;
  }
}

.control .song-title span:first-of-type{
  display: block;
  color: var(--text-color-primary);
  margin-bottom: 5px;
}

.control .song-title .title i{
  margin-left: 100px;
  transform: translateY(1px);
}

@media (max-width: 767px){
  .control .song-title .title i{
    display: none;
  }
}

.control .control-buttons{
  font-size: 20px;
  display: flex;
  align-items: center;
}

@media (max-width: 767px){
  .control .control-buttons{
    font-size: 13px;
    margin: 0 10px;
  }
}

.control .control-buttons .fa-pause{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  color: var(--text-color-primary);
  background-color: #1f2531;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@media (max-width: 767px){
  .control .control-buttons .fa-pause{
    width: 30px;
    height: 30px;
  }
}

.control .additional-buttons{
  display: flex;
  gap: 20px;
}

@media (max-width: 767px){
  .control .additional-buttons{
    gap: 10px;
  }
}

.control .additional-buttons .volume{
  display: flex;
  align-items: center;
  gap: 10px;
}

.control .additional-buttons .volume .level{
  width: 80px;
  height: 3px;
  background-color: #1f2531;
  border-radius: 50px;
  position: relative;
}

@media (max-width: 767px){
  .control .additional-buttons .volume .level{
    width: 60px;
  }
}

.control .additional-buttons .volume .level::before{
  position: absolute;
  content: "";
  width: 70%;
  height: 100%;
  background-color: var(--text-color-secondary);
  border-radius: 50px;
}

/* Start song-duration */

.song-duration{
  padding: 5px 25px;
  font-size: 11px;
}

@media (max-width: 767px){
  .song-duration{
    padding-left: 15px;
    padding-right: 15px;
  }
}

.song-duration .progress{
  width: 100%;
  height: 4px;
  background-color: #1f2531;
  border-radius: 50px;
  margin-bottom: 5px;
  position: relative;
}

.song-duration .progress::before{
  position: absolute;
  content: "";
  width: 70%;
  height: 100%;
  background-image: linear-gradient(to right, #846ec2, #0e2671);
  border-radius: 50px;
}

.song-duration .timing{
  display: flex;
  justify-content: space-between;
  align-items: center;
}